{% extends 'core/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WELCOME{% endblock %}</title>
</head>
<body>
    {% block content %}
  <!-- Header -->
  <br>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h3>What Tranding Now</h3>
      </div>
   </div>
  </div>
<br>


  <!-- Big Card -->
  <div class="container text-center">
    <div class="row row-cols-2">
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://akcdn.detik.net.id/visual/2023/02/07/ilustrasi-diabetes-anak-2_169.jpeg?w=650&q=90" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h6 class="card-title">Makin Bertambah, Ada 1.100 Anak Indonesia Terkena Diabetes</h6>
                  <p class="card-text">Project Lead Changing Diabetes in Children (CDiC) dan Direktur Eksekutif International Pediatrics Association</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://akcdn.detik.net.id/visual/2020/02/15/512fef90-d918-4537-8eba-c3bbac871163_169.jpeg?w=650&q=90" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h6 class="card-title">Apakah Indonesia Masuk Daftar Negara dengan Utang Terbesar ke China?</h6>
                  <p class="card-text">Tak sedikit negara berkembang di dunia yang berutang cukup besar kepada China. Bahkan utang negara-negara ini mencapai puluhan</p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://akcdn.detik.net.id/visual/2023/04/14/ilustrasi-peta-china_169.jpeg?w=650&q=90" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h6 class="card-title">Sejarah Perkembangan dan Tokoh Geografi dari Masa ke Masa</h6>
                  <p class="card-text">Sebagai ilmu pengetahuan, geografi berkembang dari masa ke masa. Perkembangan disiplin.</p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://akcdn.detik.net.id/visual/2021/07/05/air-france_169.jpeg?w=650&q=90" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h6 class="card-title">Prancis Batalkan Ribuan Penerbangan untuk 2024, Ada Apa?</h6>
                  <p class="card-text">Prancis membatalkan ribuan penerbangan pada tahun 2024. Penyebabnya, sebagian besar sistem kendali lalu lintas udara.</p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <br>

  <!-- Grid Teks -->
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h3>Update Today</h3>
      </div>
  </div>
  </div>

  <br>

<!-- Card Title -->
<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 15rem;">
            <img src="https://akcdn.detik.net.id/visual/2023/10/18/presiden-as-joe-biden-menghadiri-pertemuan-dengan-perdana-menteri-israel-benjamin-netanyahu-saat-ia-mengunjungi-israel-di-teng-1_169.jpeg?w=715&q=90" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Menteri Israel Ancam Nuklir Gaza, AS Akhirnya Buka Suara</h5>
              <p class="card-text">Amerika Serikat mengecam komentar anggota junior kabinet Israel yang menyuarakan keterbukaan terhadap gagasan Israel.</p>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;">
            <img src="https://akcdn.detik.net.id/community/media/visual/2023/11/05/kamp-pengungsi-maghazi-di-gaza-diserang-israel-30-orang-tewas-4_169.jpeg?w=700&q=90" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ratusan Ribu Pekerjaan di Gaza Hilang Buntut Konflik</h5>
              <p class="card-text">Badan Tenaga Kerja Perserikatan Bangsa-Bangsa (PBB) mencatat 61% pekerjaan hilang di Gaza akibat perang.</p>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;">
            <img src="https://akcdn.detik.net.id/visual/2023/11/07/yahya-sinwar-pemimpin-hamas-di-gaza-memimpin-pertemuan-dengan-para-pemimpin-faksi-palestina-di-kantornya-di-kota-gaza-ap-photo_169.jpeg?w=715&q=90" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> Siapa Yahya Sinwar, Pentolan Hamas yang Jadi Buronan Israel?</h5>
              <p class="card-text">Kelompok pejuang Palestina, Hamas, menjadi sorotan dunia internasional. Pada 7 Oktober lalu, dengan persenjataan lengkap.</p>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;">
            <img src="https://akcdn.detik.net.id/community/media/visual/2023/11/02/rumah-sakit-indonesia-di-jalur-gaza.jpeg?w=700&q=90" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bantah Tuduhan Israel Soal Terowongan Hamas</h5>
              <p class="card-text">Tim pembangunan Rumah Sakit (RS) Indonesia-Palestina membantah tuduhan Israel</p>
            </div>
          </div>
      </div>
    </div>
  </div>

  <br>

 <!-- Card -->
 
<div class="container text-center">
    <div class="row">
        {% for berita in beritas %}
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{berita.gambar.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h6>{{berita.kategori}}</h6>
                <h6>{{berita.judul}}</h6>
                <p class="card-text">{{berita.isi}}</p>
              <button type="button" class="btn btn-danger" onclick="location.href='/isiberita'">click here</button>
            </div>
          </div>
          <br>
        </div>
        {% endfor %}
    </div>
</div>
   

    {% endblock %}
</body>
</html>