{% extends 'core/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WELCOME{% endblock %}</title>
    {% block htmlhead %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    {% endblock htmlhead %}
</head>
<body>
    {% block content %}

  <!-- Header -->
  <br>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h3>What Tranding Now</h3>
      </div>
   </div>
  </div>
<br>


  <!-- Big Card -->
  <div class="container text-center">
    <div class="row row-cols-2">
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://akcdn.detik.net.id/visual/2023/02/07/ilustrasi-diabetes-anak-2_169.jpeg?w=650&q=90" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h6 class="card-title">Makin Bertambah, Ada 1.100 Anak Indonesia Terkena Diabetes</h6>
                  <p class="card-text">Project Lead Changing Diabetes in Children (CDiC) dan Direktur Eksekutif International Pediatrics Association</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://akcdn.detik.net.id/visual/2020/02/15/512fef90-d918-4537-8eba-c3bbac871163_169.jpeg?w=650&q=90" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h6 class="card-title">Apakah Indonesia Masuk Daftar Negara dengan Utang Terbesar ke China?</h6>
                  <p class="card-text">Tak sedikit negara berkembang di dunia yang berutang cukup besar kepada China. Bahkan utang negara-negara ini mencapai puluhan</p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://akcdn.detik.net.id/visual/2023/04/14/ilustrasi-peta-china_169.jpeg?w=650&q=90" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h6 class="card-title">Sejarah Perkembangan dan Tokoh Geografi dari Masa ke Masa</h6>
                  <p class="card-text">Sebagai ilmu pengetahuan, geografi berkembang dari masa ke masa. Perkembangan disiplin.</p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://akcdn.detik.net.id/visual/2021/07/05/air-france_169.jpeg?w=650&q=90" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h6 class="card-title">Prancis Batalkan Ribuan Penerbangan untuk 2024, Ada Apa?</h6>
                  <p class="card-text">Prancis membatalkan ribuan penerbangan pada tahun 2024. Penyebabnya, sebagian besar sistem kendali lalu lintas udara.</p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <br>

  <!-- Grid Teks -->
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h3>Update Today</h3>
      </div>
  </div>
  </div>

  <!-- tombol search -->
  <nav class="navbar navbar-expand-lg bg-danger">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex" role="search" style=" margin: auto; width: 45%; padding: 2px;" >
          <input class="form-control me-2" type="search" name="cari" placeholder="cari berita" aria-label="Search">
          <button type="submit" class="btn btn-success">cari</button>
        </form>
      </div>
    </div>
  </nav>

  <br>

 <!-- Card -->
<div class="container text-center">
    <div class="row">
        {% for berita in beritas %}
      <div class="col">
        <div class="card" style="width: 15rem;">
            <img src="{{berita.gambar.url}}" class="card-img-top">
            <div class="card-body">
                <h6>{{berita.kategori}}</h6>
                <h6>{{berita.judul}}</h6>
              <button type="button" class="btn btn-danger"><a href="{% url 'news:isi' berita.id %}" style="text-decoration: none; color: white;">Click Here</a></button>
            </div>
          </div>
          <br>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Footer  -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">Cable News Network (CNN, "Jaringan Berita Kabel") adalah sebuah saluran berita kabel asal AS yang didirikan tahun 1980 oleh konglomerat media asal Amerika Serikat Ted Turner.[1][2] Ketika diluncurkan, CNN adalah saluran televisi pertama yang menyiarkan liputan berita 24 jam,[3] dan saluran televisi berita pertama di Amerika Serikat.[4] Meski memiliki banyak cabang, CNN justru lebih sering mengudara dari kantor pusatnya di CNN Center di Atlanta, 30 Hudson Yards di New York City, dan studio di Washington, D.C. dan Los Angeles. CNN dimiliki oleh perusahaan induknya, Warner Bros. Discovery.[5]</p>
      </div>
   

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="/trending">trending</a></li>
          <li><a href="/olahraga">olahraga</a></li>
          <li><a href="/politik">politik</a></li>
          <li><a href="/gayahidup">gaya hidup</a></li>
          <li><a href="/entertaimen">entertainment</a></li>
          <li><a href="/kesehatan">kesehatan</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="https://www.cnnindonesia.com/">About Us</a></li>
          <li><a href="https://github.com/IhsanNA">Contact Me</a></li>
          <li><a href="https://github.com/IhsanNA">Contribute</a></li>
          <li><a href="https://github.com/IhsanNA">Privacy Policy</a></li>
          <li><a href="https://github.com/IhsanNA">Sitemap</a></li>
        </ul>
      </div>
    </div>
  </div>

    <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
     <a href="#">Scanfcode</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
   
    {% endblock %}
</body>
</html>