{% extends 'core/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WELCOME{% endblock %}</title>
    {% block htmlhead %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    {% endblock htmlhead %}
</head>
<body>
    {% block content %}

    <!-- carousel auto Slide -->
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://media.suara.com/pictures/653x366/2019/09/22/52308-kevin-marcus-dan-hendra-ahsan-podium-china-open-2019.jpg" class="d-block w-100 mx-auto" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://media.suara.com/pictures/653x366/2019/11/17/28524-hendra-setiawanmohammad-ahsan.jpg" class="d-block w-100 mx-auto" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://media.suara.com/pictures/653x366/2019/08/25/75220-hendra-setiawan-mohammad-ahsan.jpg" class="d-block w-100 mx-auto" alt="...">
          </div>
        </div>
        <button  id="kon" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

<!-- weather Widget -->
<a class="weatherwidget-io" href="https://forecast7.com/en/n6d87107d49/west-bandung-regency/" data-label_1="BANDUNG BARAT" data-label_2="WEATHER" data-theme="original" data-basecolor="#dd4747" >BANDUNG BARAT WEATHER</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>

<br>

<!-- Grid Row columns  -->
<div class="container">
    <div class="row">
      <div class="col">
        <br>
        <img src="https://akcdn.detik.net.id/visual/2023/11/06/kondisi-terkini-jis-jelang-piala-dunia-u-17-2023-5_169.jpeg?w=650&q=90" alt="">
      </div>
      <div class="col">
        <br>
        <h5>Top 3 Sports: Pelatih Brasil Kagum Lihat JIS, Megawati Apresiasi Fans</h5>
        <br>
        <p>Pelatih Brasil U-17 Phelipe Leal memuji Indonesia terutama saat melihat Jakarta International Stadium (JIS) dan Megawati Hangestri Pertiwi terkejut dengan dukungan suporter Indonesia jadi berita terpopuler olahraga.</p>
        <br>
        <p>Selain itu, kemenangan telak yang diukir Chelsea atas Tottenham dengan skor 4-1 juga menarik minat pembaca.</p>
        <br>
        <p>Pelatih timnas Brasil U-17 Phelipe Leal terkejut dan memuji kesiapan Indonesia sebagai tuan rumah Piala Dunia U-17 2023, terutama saat melihat Jakarta International Stadium (JIS).</p>
      </div>
    </div>
  </div>

  <!-- Header -->
  <br>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h3>What Tranding Now</h3>
      </div>
   </div>
  </div>
<br>

  <!-- Big Card -->
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="https://akcdn.detik.net.id/visual/2023/11/06/soccer-england-lut-livreport-8_169.jpeg?w=650&q=90" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Top 3 Sports: Megawati Bantu Red Sparks Menang, Liverpool Imbang</h5>
          <p class="card-text">Megawati Hangestri Pertiwi membantu Daejeon Jung Kwan Jang Red Sparks menang</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://akcdn.detik.net.id/visual/2023/11/04/anwar-el-ghazi_169.jpeg?w=650&q=90" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Onana Dipuji Fans, El Ghazi Dipecat Imbas Bela Palestina</h5>
          <p class="card-text">Anwar El Ghazi merespons secara elegan keputusan Mainz yang memecatnya</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://akcdn.detik.net.id/visual/2023/10/17/brunei-vs-indonesia-1_169.jpeg?w=650&q=90" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Top 3 Sports: Indonesia Bantai Brunei, Inggris Lolos Euro 2024</h5>
          <p class="card-text">Berita Timnas Indonesia membantai Brunei 6-0 pada leg kedua putaran pertama Kualifikasi Piala Dunia 2026</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://akcdn.detik.net.id/visual/2023/10/27/megawati-hangestri-pertiwi-2_169.jpeg?w=650&q=90" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Top 3 Sports: Megawati Jadi Sorotan di Korea, Persib Dekati Puncak</h5>
          <p class="card-text">Berikut berita pilihan dunia olahraga mulai dari kiprah Megawati 'Megatron' di Liga Bola Voli Korea</p>
        </div>
      </div>
    </div>
  </div>
  
  <br>

  <!-- Grid Teks -->
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h3>Update Today</h3>
      </div>
  </div>
  </div>

  <br>


<!-- Card Title -->
<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 15rem;">
            <img src="https://akcdn.detik.net.id/visual/2023/10/27/megawati-hangestri-pertiwi-3_169.jpeg?w=650&q=90" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Top 3 Sports: Megawati Dibela Pelatih, FIFA Soroti Iqbal Gwijangge</h5>
              <p class="card-text">Kiprah Megawati Hangestri Pertiwi di liga voli Korea Selatan.</p>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;">
            <img src="https://akcdn.detik.net.id/visual/2023/06/24/indonesia-ke-final-avc-challenge-cup-2023_169.jpeg?w=650&q=90" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Top 3 Sports: Tangis Megawati di Korea, Indonesia Jauhi Malaysia</h5>
              <p class="card-text">Bintang Timnas Voli Putri Indonesia Megawati Hangestri Pertiwi menangis</p>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;">
            <img src="https://akcdn.detik.net.id/visual/2023/10/30/megawati-hangestri-pertiwi-dan-giovanna-milana_169.jpeg?w=650&q=90" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Megawati Disebut Supel, Messi Menang Ballon d'Or</h5>
              <p class="card-text">Berita tentang Megawati Hangestri Pertiwi bersama Red Sparks dan Lionel Messi yang menang</p>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;">
            <img src="https://akcdn.detik.net.id/visual/2023/07/04/ketua-umum-pssi-erick-thohir-3_169.jpeg?w=650&q=90" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Erick: Jangan Percaya Berita Indonesia Ditinggalkan Australia</h5>
              <p class="card-text">Ketua Umum PSSI Erick Thohir merasa keberatan Indonesia disebut ditinggal Australia</p>
            </div>
          </div>
      </div>
    </div>
  </div>

  <br>
<!-- Footer  -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
      </div>
   

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="/trending">trending</a></li>
          <li><a href="/olahraga">olahraga</a></li>
          <li><a href="/politik">politik</a></li>
          <li><a href="/gayahidup">gaya hidup</a></li>
          <li><a href="/entertaimen">entertainment</a></li>
          <li><a href="/kesehatan">kesehatan</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/about/">About Us</a></li>
          <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
          <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
          <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
          <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
        </ul>
      </div>
    </div>
  </div>

    <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
     <a href="#">Scanfcode</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
        </ul>
      </div>
    </div>
  </div>
</footer>

<br>


    {% endblock %}
</body>
</html>