

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WELCOME{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% block htmlhead %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    {% endblock htmlhead %}
</head>
<body>
    {% block content %}
<div class="container">
  <div class="cover">
    <img src="https://www.shutterstock.com/shutterstock/videos/4924517/thumb/2.jpg?ip=x480" style="width: 1366px; height: 350px; margin-left: -125px;" alt="">
    <img style="border-radius: 50%; width: 180px; height: 180px; margin-left: 40px; margin-top: -120px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/CNN_International_logo.svg/2048px-CNN_International_logo.svg.png" alt="">
    <h2 class="name" style="border-radius: 50%; margin-left: 250px; margin-top: -120px; color: white;">CNN INDONESIA</h2>
  </div>
</div>

<br>
<br>

    <p style="padding-left: 180px; margin-bottom: 0; color: grey; margin-top: 50px;">Internasional news</p>
<h1 style="padding-left: 180px; padding-top: 0px; font-weight: bold;">Sejarah konflik Palestina-Israel, <br> pertikaian berkepanjangan <br> yang berlangsung puluhan tahun</h1>
<p style="padding-left: 180px;"> <span style="color: #0077b6;">cnn </span><span style="color: grey;">- Khazam alim - cnn indonesia</span></p>
<br>
<img src="https://ichef.bbci.co.uk/news/800/cpsprodpb/d765/live/e0ed0d20-719d-11ee-8e7d-652b30667635.png" alt=""
style="padding-left: 180px; padding-top: 20px;">

<p style="color: grey; padding-left: 180px; font-size: small; padding-top: 0;">24 Oktober 2023</p>
<h5 style="padding-left: 180px; padding-top: 0px;" class="fw-bold">Kelompok milisi Palestina, Hamas, melancarkan serangan yang belum pernah <br> terjadi sebelumnya terhadap Israel pada 7 Oktober. Aksi itu dilakukan dengan <br>
     mengerahkan ratusan pasukan bersenjata yang menyusup ke lingkungan <br>
      warga sipil Israel di dekat Jalur Gaza.</h5>

    <br>

      <p style="padding-left: 180px; padding-top: 0px;">Dalam serangan tersebut, sedikitnya 1.400 warga Israel meninggal dunia. Ada pula <br>
         203 tentara dan warga sipil, termasuk perempuan dan anak-anak, yang dibawa ke <br>
          Gaza sebagai sandera - berdasarkan catatan militer Israel.</p>

    <br>

      <p style="padding-left: 180px; padding-top: 0px;">Di sisi Palestina, lebih dari 5.000 warga Gaza tewas akibat serangan udara dan <br>
         artileri militer Israel, sebagai balasan dari serangan Hamas.</p>

    <br>

      <p style="padding-left: 180px; padding-top: 0px;">Tak hanya itu, pasukan Israel kini berkumpul di sepanjang perbatasan Gaza.</p>

    <img src="https://akcdn.detik.net.id/visual/2023/10/29/aksi-bela-palestina-di-koloseum-roma-2_169.jpeg?w=650&q=90" alt=""
    style="padding-left: 180px; padding-top: 20px;">

    <br>

      <p style="padding-left: 180px; padding-top: 0px;">Menteri Pertahanan Israel, Yoav Gallant, mengatakan aksi militer di Gaza "mungkin <br>
         memakan waktu satu, dua atau tiga bulan, tetapi pada akhirnya tidak akan ada lagi <br>
          Hamas".</p>

    <br>

    <h3 style="padding-left: 180px; padding-top: 0px;">Artikel-artikel yang direkomendasikan</h3>

    <br>

    <div class="card mb-3" style="max-width: 540px;  margin-left: 180px;">
        <div class="row g-4">
          <div class="col-md-4">
            <img src="https://ichef.bbci.co.uk/news/800/cpsprodpb/C515/production/_131635405_gettyimages-1757168396.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Palestina: Israel tuduh RS Indonesia di Gaza</h5>
            </div>
          </div>
        </div>
      </div>
    <div class="card mb-3" style="max-width: 540px;  margin-left: 180px;">
        <div class="row g-4">
          <div class="col-md-4">
            <img src="https://ichef.bbci.co.uk/news/800/cpsprodpb/3211/live/11cb2a50-690e-11ee-bd9f-271a093e676d.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><a style="text-decoration: none; color: black;" href="https://www.bbc.com/indonesia/articles/cd15rrwpz0do">Siapa saja para pimpinan penting Hamas?</a></h5>
            </div>
          </div>
        </div>
      </div>
    <div class="card mb-3" style="max-width: 540px;  margin-left: 180px;">
        <div class="row g-4">
          <div class="col-md-4">
            <img src="https://ichef.bbci.co.uk/news/800/cpsprodpb/1045D/production/_131435666_gettyimages-1722738062.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Gaza: Serangan terhadap konvoi kendaraan warga</h5>
            </div>
          </div>
        </div>
      </div>
    <div class="card mb-3" style="max-width: 540px;  margin-left: 180px;">
        <div class="row g-4">
          <div class="col-md-4">
            <img src="https://ichef.bbci.co.uk/news/768/cpsprodpb/2e67/live/8b9771b0-7857-11ee-8070-13aa5708c89f.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Apa tujuan akhir invasi darat Israel ke Gaza?</h5>
            </div>
          </div>
        </div>
      </div>
    
      <br>

      <p style="padding-left: 180px; padding-top: 0px;">Menurutnya, operasi darat yang ditunggu-tunggu, "akan segera dilakukan".</p>

 
      <p style="padding-left: 180px; padding-top: 0px;">Akan tetapi, seberapa cepat operasi tersebut masih belum jelas.</p>

      <p style="padding-left: 180px; padding-top: 0px;">Pada saat yang sama, Israel memberlakukan blokade total terhadap Gaza, sehingga <br>
         pasokan makanan, bahan bakar dan kebutuhan pokok lainnya ke wilayah tersebut <br>
          dihentikan.</p>

      <p style="padding-left: 180px; padding-top: 0px;">Konflik Israel dan Palestina ini adalah yang terbaru dari pertikaian kedua pihak <br>
         selama tujuh dekade terakhir.</p>

      <p style="padding-left: 180px; padding-top: 0px;">Sepanjang sejarah, wilayah tersebut telah dilanda serangkaian konflik bersenjata, <br>
         termasuk beberapa perang yang menentukan dinamika hubungan Israel-Palestina.</p>

      <p style="padding-left: 180px; padding-top: 0px;">Berikut ini adalah sejarah dan masalah utama konflik berkepanjangan antara Israel <br>
         dan Palestina.</p>

      <br>

      <h3 style="padding-left: 180px; padding-top: 0px;">Bagaimana konflik bermula?</h3>

      <br>

      <p style="padding-left: 180px; padding-top: 0px;">Inggris menguasai wilayah yang dikenal sebagai Palestina setelah mengalahkan <br>
         Kesultanan Ottoman, penguasa wilayah Timur Tengah dalam Perang Dunia Pertama.</p>

      <p style="padding-left: 180px; padding-top: 0px;">Wilayah itu dihuni oleh minoritas Yahudi dan mayoritas Arab, serta kelompok etnis <br>
         lainnya yang jumlahnya lebih sedikit.</p>

      <p style="padding-left: 180px; padding-top: 0px;">Namun ketegangan antara kedua etnis yang tinggal di wilayah itu meningkat, <br>
         sehingga komunitas internasional memberi tugas kepada Inggris untuk mendirikan <br>
          “rumah nasional” bagi orang Yahudi di Palestina.</p>
    
    
      <iframe width="750" height="300" style="padding-left: 180px; padding-top: 0px;" src="https://www.youtube.com/embed/MP7TuSti6n0?si=m_kWq5vRamoywZOe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      <p style="padding-left: 180px; padding-top: 0px; color: grey;">Kehidupan di Gaza : Mengapa konflik terus terjadi di sana?</p>

      <br>

      <p style="padding-left: 180px; padding-top: 0px;">Keputusan ini merujuk pada Deklarasi Balfour yang ditandatangani pada 1917. <br>
         Deklarasi itu dinamai demikian karena merupakan kesepakatan antara Menteri Luar <br>
          Negeri Inggris yang menjabat saat itu, Arthur Balfour, dengan komunitas Yahudi di <br>
           Inggris.</p>

      <p style="padding-left: 180px; padding-top: 0px;">Deklarasi ini diabadikan dalam mandat Inggris atas Palestina dan didukung oleh Liga <br>
         Bangsa-Bangsa yang baru dibentuk pada 1922. Organisasi ini adalah cikal bakal <br>
          Perserikatan Bangsa Bangsa (PBB) .</p>

      <h6 style="padding-left: 180px; padding-top: 0px; font-weight: bold;">Baca juga:</h6>

      <ul style="padding-left: 220px; padding-top: 0px;">
        <br>
        <li><a href="https://www.bbc.com/indonesia/dunia-57054947">Palestina-Israel: Sejumlah fakta penting di balik sengketa yang sudah berusia 100 <br>
        tahun</a></li>
        
        <li style="padding-top: 10px;"><a href="https://www.bbc.com/indonesia/dunia-54231688">Israel-Palestina: Garis perbatasan dalam peta dari masa ke masa</a></li>
      </ul>

      <p style="padding-left: 180px; padding-top: 0px;">Bagi orang-orang Yahudi, Palestina adalah rumah bagi leluhur mereka, namun <br>
         komunitas Arab di Palestina juga mengeklaim wilayah tersebut dan menentang klaim <br>
          sepihak komunitas Yahudi di sana.</p>

      <img src="https://ichef.bbci.co.uk/news/800/cpsprodpb/671a/live/eae81be0-720f-11ee-8139-61b1db4c8e2f.jpg" alt=""
       style="padding-left: 180px; padding-top: 20px;" width="750">
      
      <br><br>

      <p style="padding-left: 180px; padding-top: 0px;">Antara 1920-an hingga 1940-an, jumlah orang Yahudi yang tiba di Palestina terus <br>
         bertambah. Banyak dari mereka melarikan diri dari persekusi yang mereka alami di <br>
          Eropa, khususnya holokos yang dilakukan Nazi di Jerman dan sekitarnya pada <br>
           Perang Dunia Kedua.</p>

      <p style="padding-left: 180px; padding-top: 0px;">
        Pertikaian antara komunitas Yahudi dan Arab, serta pemerintahan Inggris, juga <br>
         meningkat.</p>
       
      <p style="padding-left: 180px; padding-top: 0px;">Pada 1947, PBB melakukan pemungutan suara dan memutuskan membagi <br>
         Palestina menjadi negara Yahudi dan Arab. Adapun Yerusalem ditetapkan sebagai <br>
          kota internasional.</p>
       
      <p style="padding-left: 180px; padding-top: 0px;">Rencana ini diterima oleh para pemimpin Yahudi, namun ditolak oleh pemimpin <br>
         Arab dan tak pernah diimplementasikan.</p>
         
      <br><br>

         <h4 style="padding-left: 180px; padding-top: 0px; font-weight: bold;">Topik terkait</h4>

      <br>

      <div class="container text-center" style="padding-left: 95px; padding-top: 0px;">
        <div class="row row-cols-auto">
          <div class="col"><a href="https://www.bbc.com/indonesia/topics/c06gq3yj3w3t">Islam</a></div>
          <div class="col"><a href="https://www.bbc.com/indonesia/topics/c1gdq2kvnd0t">Muslim</a></div>
          <div class="col"><a href="https://www.bbc.com/indonesia/topics/c2dwqj8n8kdt">Israel-Palestina</a></div>
          <div class="col"><a href="https://www.bbc.com/indonesia/topics/c6vzy7r9k8gt">Politik</a></div>
          <div class="col"><a href="https://www.bbc.com/indonesia/topics/c5qvpxjx17xt">Amerika Serikat</a></div>
          <div class="col"><a href="https://www.bbc.com/indonesia/topics/cjgn7k1ww8jt">Timur Tengah</a></div>
        </div>
      </div>

      <br>

      <div class="container text-center" style="padding-left: 95px; padding-top: 0px;">
        <div class="row row-cols-auto">
          <div class="col"><a href="https://www.bbc.com/indonesia/topics/cpzd4kxw3xxt">Dunia Arab</a></div>
          <div class="col"><a href="https://www.bbc.com/indonesia/topics/cr50yk8618jt">Israel</a></div>
          <div class="col"><a href="https://www.bbc.com/indonesia/topics/cvjp25wxvjnt">Palestina</a></div>
        </div>
      </div>

      <br><br>
      {% for Berita in beritas %}
      {% endfor %}

<!-- Footer  -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">Cable News Network (CNN, "Jaringan Berita Kabel") adalah sebuah saluran berita kabel asal AS yang didirikan tahun 1980 oleh konglomerat media asal Amerika Serikat Ted Turner.[1][2] Ketika diluncurkan, CNN adalah saluran televisi pertama yang menyiarkan liputan berita 24 jam,[3] dan saluran televisi berita pertama di Amerika Serikat.[4] Meski memiliki banyak cabang, CNN justru lebih sering mengudara dari kantor pusatnya di CNN Center di Atlanta, 30 Hudson Yards di New York City, dan studio di Washington, D.C. dan Los Angeles. CNN dimiliki oleh perusahaan induknya, Warner Bros. Discovery.[5]</p>
      </div>
   

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="/trending">trending</a></li>
          <li><a href="/olahraga">olahraga</a></li>
          <li><a href="/politik">politik</a></li>
          <li><a href="/gayahidup">gaya hidup</a></li>
          <li><a href="/entertaimen">entertainment</a></li>
          <li><a href="/kesehatan">kesehatan</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="https://www.cnnindonesia.com/">About Us</a></li>
          <li><a href="https://github.com/IhsanNA">Contact Me</a></li>
          <li><a href="https://github.com/IhsanNA">Contribute</a></li>
          <li><a href="https://github.com/IhsanNA">Privacy Policy</a></li>
          <li><a href="https://github.com/IhsanNA">Sitemap</a></li>
        </ul>
      </div>
    </div>
  </div>

    <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
     <a href="#">Scanfcode</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
    {% endblock %}
</body>
</html>
